node_modules/
dist/
dist-electron/
release/
.DS_Store
*.log
.env
.env.*
!.env.example
*.local
.vite/
out/
/httpServer.js
/main.js
/preload.js
/artifacts/*
!/artifacts/brc156Covenant.json
scrypt.index.json
tools/scrypt/node_modules/
